---
import Layout from "../layouts/Layout.astro";
import { About as AboutSection } from "../components/About";
import { Footer } from "../components/Footer";
---

<Layout title="About | 7sg56.xyz">
    <main>
        <AboutSection client:load />
    </main>
    <Footer client:visible />
</Layout>
